html {
	height: 100%;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body {
	width: auto;
	height: 100%;
	padding: 0px;
	margin: 0px;
	
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
	text-transform: uppercase;
	color: #000000;
	
	background-color: #f2f2f2;
}

a {
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	color: orange;
    cursor: pointer;
}

.conteiner {
	position: relative;
	display: table;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

/* ----------------------------------------------------------------- */
/* --------------------------  FIRST PAGE  ------------------------- */
/* ----------------------------------------------------------------- */

.first-page {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 45;
    
    width: 100%;
    
    background-color: #f2f2f2;
    
}

.first-page img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
}

.first-page h1 {
    margin-bottom: 50px;
    
    font-size: 40px;
    line-height: 50px;
    text-align: center;
}

#btn-new-game {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    padding: 8px;
    padding-left: 25px;
    padding-right: 25px;
    
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;
    
    border: none;
    border-bottom: 3px solid black;
    background-color: #f2f2f2;
    
    cursor: pointer;
}

#btn-new-game:hover {
    color: orange;
    border-bottom: 3px solid orange;
}

#btn-new-game:active {
    color: darkorange;
    border-bottom: 3px solid darkorange;
}

#btn-new-game:focus {
    outline: none;
}


/* ----------------------------------------------------------------- */
/* ----------------------------- HEADER ---------------------------- */
/* ----------------------------------------------------------------- */

header, footer {
	margin: 0px;
	background-color: #000000;
	color: #ffffff;
}


.flex-conteiner {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

nav ul li {
	list-style: none;
	margin-left: 10px;
	margin-right: 10px;
}

nav ul {
	display: flex;
	flex-direction: row;
}

header {
	position: relative;
}

.logo {
	position: absolute;
	margin-left: 120px;
	margin-top: 15px;
	
	z-index: 50;
}

.user-menu {
	margin-left: 20px;
	margin-right: 20px;
}

.navigation-menu {
	margin-right: 10px;
}

/* ----------------------------------------------------------------- */
/* ----------------------------  FOOTER  --------------------------- */
/* ----------------------------------------------------------------- */



.technologies {
    display: inline-block;
    vertical-align: middle;
    
    margin: 0px;
    margin-left: 100px;
    padding: 0px;
}

.technologies img {
    margin: 0px;
    margin-top: 7px;
    margin-left: 20px;
    padding: 0px;
}

.social-btn {
	display: inline-block;
	vertical-align: middle;
    float: right;
    
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 40px;
}

.social-btn a {
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
    text-align: center;

	width: 50px;
	height: 50px;
	
	margin-left: 15px;
    
	padding-left: 7px;
    padding-right: 8px;
	padding-top: 10px;
	
	background-color: orange;
	
	border-radius: 50%;
	
	color: #ffffff;
	font-size: 25px;
    line-height: 30px;
}

.social-btn a:hover {
	background-color: darkorange;
}

/* ----------------------------------------------------------------- */
/* ---------------------------------------------------- */

.container-main {
	display: table;
	margin: auto;
	padding-top: 100px;
	padding-bottom: 80px;
}

.container-table-cell {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.table {
	border-collapse: collapse;
	margin: auto;
	
	cursor: pointer;
}

.table-container {
	border-collapse: collapse;
	margin: auto;

}

tr {
	height: 50px;
}

td {
	width: 150px;
	border-spacing: 0px;
	border: 2px solid black;

}

.table td:hover {
	background-color: orange;
}


/*HIDDEN MENU*/

.hidden-menu {
	display: none;
	
	width: 150px;
	text-align: center;
	
	position: absolute;
    background-color: #f2f2f2;
	
	top: 0;
	left: 0;
}

.hidden-table td:hover {
	background-color: darkorange;
	cursor: pointer;
}


/*JS*/

.active {
	background-color: darkorange;
}

.view {
	display: block;
}

.color-color {
    background-color: #ccccb3;
}

/* --------------- GAME LVL LIST------------------- */

main {
	flex: 1;
	
}

.game-lvl-list {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 40;
	
	width: 100%;
	
	background-color: #f2f2f2;
}

.lvl-list {
	display: inline-block;
    width: 120px;
    text-align: center;
    list-style: none;
    margin: auto;
    padding: 0px;
	margin-top: 70px;
	margin-bottom: 0px;
	margin-left: 200px;
}

.lvl-list li {
    margin-bottom: 5px;
    border-bottom: 2px solid black;
}

.lvl-list img {
	margin-top: 20px;
}

.lvl-list li:hover {
    color: orange;
    cursor: pointer;
    border-color: orange;
}

/* --------------- COMMUNICATION ------------------- */

.communication {
    width: 130px;
    height: 130px;
    position: absolute;
    top: 100px;
    left: 200px;
}

.communication img {
    margin-left: auto;
    margin-right: auto;
}


